In [3]:
import pandas as pd

## Function to read data

In [28]:
def process_file(filepath, headers):
    
    '''
    Takes a .txt file from the Cornell Movie Diaglogs Corpus 
    and returns a pandas dataframe
    
    '''

    lines = []

    with open(filepath, 'r', encoding = 'iso-8859-1') as f:
        for line in f:
            cols = line.split(' +++$+++ ')
            lines.append(cols)
            
    df = pd.DataFrame(lines, columns = headers)
    
    return df

## Read character metadata

In [29]:
headers = ['character_id', 'name', 'movie_id', 'movie_title', 'gender', 'position']

filepath = 'cornell_movie_dialogs_corpus/movie_characters_metadata.txt'

characters = process_file(filepath, headers)

In [30]:
characters.head()

  character_id      name movie_id                 movie_title gender position
0           u0    BIANCA       m0  10 things i hate about you      f      4\n
1           u1     BRUCE       m0  10 things i hate about you      ?      ?\n
2           u2   CAMERON       m0  10 things i hate about you      m      3\n
3           u3  CHASTITY       m0  10 things i hate about you      ?      ?\n
4           u4      JOEY       m0  10 things i hate about you      m      6\n

In [31]:
characters.groupby('gender').count()

        character_id  name  movie_id  movie_title  position
gender
?               6020  6020      6020         6020      6020
F                 45    45        45           45        45
M                150   150       150          150       150
f                921   921       921          921       921
m               1899  1899      1899         1899      1899

## Clean character metadata

In [32]:
characters.loc[characters.gender == 'F', 'gender'] = "f"
characters.loc[characters.gender == 'M', 'gender'] = "m"

In [33]:
characters.groupby('gender').count()

        character_id  name  movie_id  movie_title  position
gender
?               6020  6020      6020         6020      6020
f                966   966       966          966       966
m               2049  2049      2049         2049      2049