In [7]:
import pandas as pd
import numpy as np
import pickle
import nltk
import gensim, logging
import cython
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import cosine_similarity
#logging.basicConfig(format='%(asctime)s : %(levelname)s : %(message)s', level=logging.INFO)

## Load Data

In [9]:
movies = pickle.load(open("../data/movies.p", 'rb'))

### Train Vector Model

In [4]:
sentences = list(s.split(' ') for s in movies['words'] if s!="")
sentences[:5]

[['we',
  'make',
  'quick',
  'roxanne',
  'korrine',
  'andrew',
  'barrett',
  'incredibly',
  'horrendous',
  'public',
  'break',
  'quad'],
 ['well', 'i', 'think', 'we', 'start', 'pronunciation', 'okay', 'you'],
 ['hacking', 'gagging', 'spit', 'part', 'please'],
 ['okay', 'bout', 'we', 'try', 'french', 'cuisine', 'saturday', 'night'],
 ['you', 'ask', 'me', 'cute', 'your', 'name']]

In [5]:
model_all = gensim.models.Word2Vec(sentences, size=100, min_count=3, workers=4)

2018-05-28 18:39:31,793 : INFO : collecting all words and their counts
2018-05-28 18:39:31,797 : INFO : PROGRESS: at sentence #0, processed 0 words, keeping 0 word types
2018-05-28 18:39:31,848 : INFO : PROGRESS: at sentence #10000, processed 66935 words, keeping 6555 word types
2018-05-28 18:39:31,932 : INFO : PROGRESS: at sentence #20000, processed 134947 words, keeping 9794 word types
2018-05-28 18:39:31,994 : INFO : PROGRESS: at sentence #30000, processed 205174 words, keeping 12281 word types
2018-05-28 18:39:32,044 : INFO : PROGRESS: at sentence #40000, processed 274660 words, keeping 14378 word types
2018-05-28 18:39:32,101 : INFO : PROGRESS: at sentence #50000, processed 338950 words, keeping 16004 word types
2018-05-28 18:39:32,153 : INFO : PROGRESS: at sentence #60000, processed 410874 words, keeping 17817 word types
2018-05-28 18:39:32,198 : INFO : PROGRESS: at sentence #70000, processed 482188 words, keeping 19217 word types
2018-05-28 18:39:32,253 : INFO : PROGRESS: at sentence #80000, processed 554796 words, keeping 20792 word types
2018-05-28 18:39:32,312 : INFO : PROGRESS: at sentence #90000, processed 625203 words, keeping 22011 word types
2018-05-28 18:39:32,369 : INFO : PROGRESS: at sentence #100000, processed 691723 words, keeping 23443 word types
2018-05-28 18:39:32,517 : INFO : PROGRESS: at sentence #110000, processed 761861 words, keeping 24496 word types
2018-05-28 18:39:32,568 : INFO : PROGRESS: at sentence #120000, processed 828005 words, keeping 25626 word types
2018-05-28 18:39:32,643 : INFO : PROGRESS: at sentence #130000, processed 896778 words, keeping 26566 word types
2018-05-28 18:39:32,753 : INFO : PROGRESS: at sentence #140000, processed 967000 words, keeping 27625 word types
2018-05-28 18:39:32,818 : INFO : PROGRESS: at sentence #150000, processed 1029235 words, keeping 28383 word types
2018-05-28 18:39:32,915 : INFO : PROGRESS: at sentence #160000, processed 1103187 words, keeping 29363 word types
2018-05-28 18:39:32,970 : INFO : PROGRESS: at sentence #170000, processed 1172063 words, keeping 30317 word types
2018-05-28 18:39:33,011 : INFO : PROGRESS: at sentence #180000, processed 1237383 words, keeping 31288 word types
2018-05-28 18:39:33,096 : INFO : PROGRESS: at sentence #190000, processed 1306516 words, keeping 32075 word types
2018-05-28 18:39:33,152 : INFO : PROGRESS: at sentence #200000, processed 1376087 words, keeping 32949 word types
2018-05-28 18:39:33,199 : INFO : PROGRESS: at sentence #210000, processed 1444637 words, keeping 33867 word types
2018-05-28 18:39:33,241 : INFO : PROGRESS: at sentence #220000, processed 1511729 words, keeping 34697 word types
2018-05-28 18:39:33,330 : INFO : PROGRESS: at sentence #230000, processed 1578784 words, keeping 35421 word types
2018-05-28 18:39:33,373 : INFO : PROGRESS: at sentence #240000, processed 1655241 words, keeping 36314 word types
2018-05-28 18:39:33,482 : INFO : PROGRESS: at sentence #250000, processed 1720485 words, keeping 36944 word types
2018-05-28 18:39:33,578 : INFO : PROGRESS: at sentence #260000, processed 1791632 words, keeping 37713 word types
2018-05-28 18:39:33,657 : INFO : PROGRESS: at sentence #270000, processed 1862141 words, keeping 38501 word types
2018-05-28 18:39:33,715 : INFO : PROGRESS: at sentence #280000, processed 1933365 words, keeping 39363 word types
2018-05-28 18:39:33,776 : INFO : PROGRESS: at sentence #290000, processed 2010582 words, keeping 39980 word types
2018-05-28 18:39:33,810 : INFO : collected 40477 word types from a corpus of 2048050 raw words and 295535 sentences
2018-05-28 18:39:33,813 : INFO : Loading a fresh vocabulary
2018-05-28 18:39:33,916 : INFO : min_count=3 retains 19362 unique words (47% of original 40477, drops 21115)
2018-05-28 18:39:33,918 : INFO : min_count=3 leaves 2021454 word corpus (98% of original 2048050, drops 26596)
2018-05-28 18:39:34,039 : INFO : deleting the raw counts dictionary of 40477 items
2018-05-28 18:39:34,044 : INFO : sample=0.001 downsamples 47 most-common words
2018-05-28 18:39:34,047 : INFO : downsampling leaves estimated 1480897 word corpus (73.3% of prior 2021454)
2018-05-28 18:39:34,193 : INFO : estimated required memory for 19362 words and 100 dimensions: 25170600 bytes
2018-05-28 18:39:34,194 : INFO : resetting layer weights
2018-05-28 18:39:34,472 : INFO : training model with 4 workers on 19362 vocabulary and 100 features, using sg=0 hs=0 sample=0.001 negative=5 window=5
2018-05-28 18:39:35,495 : INFO : EPOCH 1 - PROGRESS: at 53.43% examples, 780821 words/s, in_qsize 6, out_qsize 1
2018-05-28 18:39:36,509 : INFO : EPOCH 1 - PROGRESS: at 93.54% examples, 682011 words/s, in_qsize 7, out_qsize 0
2018-05-28 18:39:36,611 : INFO : worker thread finished; awaiting finish of 3 more threads
2018-05-28 18:39:36,612 : INFO : worker thread finished; awaiting finish of 2 more threads
2018-05-28 18:39:36,616 : INFO : worker thread finished; awaiting finish of 1 more threads
2018-05-28 18:39:36,622 : INFO : worker thread finished; awaiting finish of 0 more threads
2018-05-28 18:39:36,622 : INFO : EPOCH - 1 : training on 2048050 raw words (1479773 effective words) took 2.1s, 692685 effective words/s
2018-05-28 18:39:37,648 : INFO : EPOCH 2 - PROGRESS: at 36.64% examples, 538597 words/s, in_qsize 7, out_qsize 0
2018-05-28 18:39:38,659 : INFO : EPOCH 2 - PROGRESS: at 85.77% examples, 625461 words/s, in_qsize 8, out_qsize 0
2018-05-28 18:39:38,971 : INFO : worker thread finished; awaiting finish of 3 more threads
2018-05-28 18:39:38,979 : INFO : worker thread finished; awaiting finish of 2 more threads
2018-05-28 18:39:38,989 : INFO : worker thread finished; awaiting finish of 1 more threads
2018-05-28 18:39:38,991 : INFO : worker thread finished; awaiting finish of 0 more threads
2018-05-28 18:39:38,992 : INFO : EPOCH - 2 : training on 2048050 raw words (1480969 effective words) took 2.4s, 629048 effective words/s
2018-05-28 18:39:40,084 : INFO : EPOCH 3 - PROGRESS: at 41.63% examples, 574874 words/s, in_qsize 7, out_qsize 0
2018-05-28 18:39:41,087 : INFO : EPOCH 3 - PROGRESS: at 73.24% examples, 518921 words/s, in_qsize 7, out_qsize 0
2018-05-28 18:39:41,619 : INFO : worker thread finished; awaiting finish of 3 more threads
2018-05-28 18:39:41,637 : INFO : worker thread finished; awaiting finish of 2 more threads
2018-05-28 18:39:41,638 : INFO : worker thread finished; awaiting finish of 1 more threads
2018-05-28 18:39:41,646 : INFO : worker thread finished; awaiting finish of 0 more threads
2018-05-28 18:39:41,647 : INFO : EPOCH - 3 : training on 2048050 raw words (1480453 effective words) took 2.6s, 562297 effective words/s
2018-05-28 18:39:42,662 : INFO : EPOCH 4 - PROGRESS: at 45.48% examples, 672631 words/s, in_qsize 6, out_qsize 1
2018-05-28 18:39:43,684 : INFO : EPOCH 4 - PROGRESS: at 97.53% examples, 714212 words/s, in_qsize 4, out_qsize 1
2018-05-28 18:39:43,697 : INFO : worker thread finished; awaiting finish of 3 more threads
2018-05-28 18:39:43,699 : INFO : worker thread finished; awaiting finish of 2 more threads
2018-05-28 18:39:43,703 : INFO : worker thread finished; awaiting finish of 1 more threads
2018-05-28 18:39:43,717 : INFO : worker thread finished; awaiting finish of 0 more threads
2018-05-28 18:39:43,718 : INFO : EPOCH - 4 : training on 2048050 raw words (1480664 effective words) took 2.1s, 719648 effective words/s
2018-05-28 18:39:44,759 : INFO : EPOCH 5 - PROGRESS: at 35.63% examples, 523130 words/s, in_qsize 7, out_qsize 0
2018-05-28 18:39:45,763 : INFO : EPOCH 5 - PROGRESS: at 83.49% examples, 609310 words/s, in_qsize 8, out_qsize 0
2018-05-28 18:39:46,175 : INFO : worker thread finished; awaiting finish of 3 more threads
2018-05-28 18:39:46,194 : INFO : worker thread finished; awaiting finish of 2 more threads
2018-05-28 18:39:46,195 : INFO : worker thread finished; awaiting finish of 1 more threads
2018-05-28 18:39:46,207 : INFO : worker thread finished; awaiting finish of 0 more threads
2018-05-28 18:39:46,208 : INFO : EPOCH - 5 : training on 2048050 raw words (1480873 effective words) took 2.5s, 601839 effective words/s
2018-05-28 18:39:46,209 : INFO : training on a 10240250 raw words (7402732 effective words) took 11.7s, 630836 effective words/s

### Test Model

In [6]:
model_all.wv.similarity('fork', 'spoon')

0.9276335988352492

In [7]:
model_all.wv.doesnt_match("breakfast cereal dinner lunch".split())

2018-05-28 18:39:46,230 : INFO : precomputing L2-norms of word weight vectors

'cereal'

In [8]:
model_all.wv['woman']

array([-1.0416529 , -0.3685856 ,  0.2857633 ,  0.7566998 , -0.36599946,
       -1.1307472 ,  1.0142924 , -0.64130735, -0.506308  ,  0.40040955,
        0.10267434,  1.4729713 , -0.23874965, -0.2390065 , -0.61051136,
        0.17040619,  0.8940419 ,  1.9174225 ,  0.02209527,  1.5247627 ,
        0.3151395 ,  0.96852213,  0.583615  , -1.1568229 ,  0.81528264,
       -0.7475498 ,  0.8398345 , -0.22440444, -0.58057714,  0.08234546,
       -0.9970148 , -2.3366795 , -0.5780174 ,  0.8116196 ,  0.37080163,
       -1.3802438 ,  0.42913648, -0.39433882,  0.5978944 , -0.7098544 ,
       -1.3424009 , -1.6490427 ,  1.0018047 , -0.601419  , -0.16713834,
        1.0979226 , -0.5841204 ,  0.01826851, -0.41685054, -0.24803858,
       -0.93822026, -0.64984745, -0.9849708 ,  1.2248198 , -0.12188079,
       -0.00418284,  0.55344915, -0.287866  , -0.3271172 , -0.21001542,
        0.5070263 ,  0.02648011, -0.9358283 , -0.24930817, -1.1819657 ,
        0.24828771, -0.09647191, -0.12114934,  0.1779565 , -0.56490993,
       -1.0538632 ,  0.12930782,  1.9515977 , -1.182063  ,  0.12552865,
        0.6167883 , -0.12462636, -0.08656301, -0.37863722, -0.6146243 ,
        0.12430405,  0.36362582, -0.60164654,  1.2081766 , -1.5664799 ,
        2.003663  ,  0.7109077 , -0.18185751,  0.21280897, -0.69685745,
       -1.3780937 ,  0.6966493 , -0.22715953,  1.3110963 ,  0.45761055,
        0.85543454,  0.05110068,  0.09008881,  1.9597765 ,  0.47776717],
      dtype=float32)

### Save Model

In [9]:
model_all.save("mdl/model_all")
# To load: model_all = gensim.models.Word2Vec.load("mdl/model_all")

2018-05-28 18:39:46,281 : INFO : saving Word2Vec object under mdl/model_all, separately None
2018-05-28 18:39:46,284 : INFO : not storing attribute vectors_norm
2018-05-28 18:39:46,286 : INFO : not storing attribute cum_table
2018-05-28 18:39:46,564 : INFO : saved mdl/model_all

## Exploration

In [10]:
df11=movies.groupby('genre')['movie_id'].apply(lambda x: (x!='').sum()).reset_index(name='count')
df11

          genre  count
0        action  62758
1     adventure  10805
2     animation   3618
3     biography  13467
4        comedy  71129
5         crime  35011
6   documentary   1458
7         drama  73909
8        family    543
9       fantasy   4657
10    film-noir    603
11       horror  14439
12      mystery   2319
13      romance   1650
14       sci-fi   1806
15        short    949
16     thriller   5233

### Using TD-IDF & Calculate Cosine Similarities

In [11]:
def calc_cosim_gender(movie_df):   
    mcosim = movie_df.groupby(['movie_id', 'gender_from']).apply(lambda x: " ".join(x['words'])).reset_index(name='raw_text')
    mcosim = mcosim.pivot(index='movie_id', columns='gender_from', values='raw_text').reset_index().fillna('Empty')
    
    mcosim['fit'] = mcosim[['f','m']].apply(lambda x: TfidfVectorizer().fit_transform([x[0], x[1]]), axis=1)
    mcosim['gender_cosim'] = mcosim['fit'].apply(lambda x: cosine_similarity(x[0], x[1])[0,0])
    
    mcosim = pd.merge(mcosim, movie_df[['movie_id', 'genre']], how='inner', on='movie_id')
    
    return mcosim[['movie_id', 'gender_cosim', 'genre']].drop_duplicates().reset_index(drop=True)

In [12]:
cosim_score = calc_cosim_gender(movies)
cosim_score.head()

  movie_id  gender_cosim      genre
0       m0      0.862061     comedy
1       m1      0.742550  adventure
2      m10      0.880711      drama
3     m100      0.000000     action
4     m101      0.763138  biography

In [13]:
cosim_score.describe()

       gender_cosim
count    616.000000
mean       0.618904
std        0.321106
min        0.000000
25%        0.507520
50%        0.753910
75%        0.851891
max        1.000000

## Calculating Cosine Similarity of Training Dataset

#### Read and Calculate Gender Cosine Similarity Score

In [14]:
movies_train = pickle.load(open("../data/movies_lines_train.p", 'rb'))

In [15]:
movies_holdout= pickle.load(open("../data/movies_lines_holdout.p", 'rb'))

In [16]:
movies_holdout.head()

,movie_id,gender_to,gender_from,char_id_from,char_id_to,line_id,words,movie_year,genre
0,m49,m,f,u761,u765,L163186,thanks miss,1999,comedy
1,m49,m,f,u761,u765,L163187,you kind i amanda,1999,comedy
2,m49,m,f,u761,u765,L163188,right well thanks drink stuff amanda reason me...,1999,comedy
3,m49,m,f,u761,u765,L163189,glum hawk night still young fill plenty compen...,1999,comedy
4,m49,m,f,u761,u765,L163190,huh,1999,comedy

In [66]:
len(movies_holdout)

101960

In [17]:
movies_train.head()

,movie_id,gender_to,gender_from,char_id_from,char_id_to,line_id,words,movie_year,genre
0,m18,m,m,u284,u288,L34746,hello tom,1932,drama
1,m18,m,m,u284,u288,L34747,you you want,1932,drama
2,m18,m,m,u284,u288,L34748,you suppose anybody want money money money,1932,drama
3,m18,m,m,u284,u288,L34749,listen i tell you i interested deal i,1932,drama
4,m18,m,m,u284,u288,L34750,i want know,1932,drama

In [18]:
cosim_train = calc_cosim_gender(movies_train)
cosim_train.head()

  movie_id  gender_cosim      genre
0     m100      0.000000     action
1     m101      0.763138  biography
2     m104      0.001068  biography
3     m105      0.942188      crime
4     m106      0.743309      drama

In [19]:
cosim_desc = cosim_train.describe()
cosim_desc

       gender_cosim
count    412.000000
mean       0.624933
std        0.319369
min        0.000000
25%        0.523451
50%        0.756726
75%        0.853729
max        1.000000

In [20]:
cosim_desc.loc['mean', 'gender_cosim']

0.6249326174795061

#### Calculate Normalized Cosine Similarity Scores

In [21]:
# HELPERS: Indexing cosim mean and std 
def genre_dstat(desc_df, genre, type='mean'):
    return float(desc_df.loc[desc_df['genre']== genre, ('gender_cosim', type)])

# HELPER: Calculate normalized cosine similarity score 
def norm_cosim(cosim_score, desc_df, genre):
    norm_nomcosim = cosim_score - genre_dstat(desc_df, genre)
    norm_denumcosim = genre_dstat(desc_df, genre, 'std')
    
    if norm_denumcosim != 0:
        return norm_nomcosim/norm_denumcosim
    else:
        return cosim_score

In [22]:
# Normalized cosine similarity score by genre and return score dataframe  
def normalize_cosim_by_genre(cosim_df):
    desc_stat = cosim_df.groupby('genre').describe()
    
    cosim_df['norm_cosim'] = cosim_df.apply(lambda x: norm_cosim(x['gender_cosim'], desc_stat, x['genre']), axis=1)

    return cosim_df

In [23]:
# Normalized cosine similarity score by genre and return score dataframe  
def normalize_cosim(cosim_df):
    desc_stat = cosim_df.describe().reset_index()
    
    cosim_df['norm_cosim'] = (cosim_df['gender_cosim']-cosim_desc.loc['mean', 'gender_cosim'])/cosim_desc.loc['std', 'gender_cosim']
    
    return cosim_df

### Class: Train mean and std on training data, calculate normalized cosine similarity score

In [36]:
# Read data: one movie title 
one_movie = movies_train[movies_train['movie_id']=='m105']

In [60]:
class cosim:
    def __init__(self):
        self.train_df = pd.DataFrame()
        self.train_mean = 0
        self.train_std = 0
    
    def similarity(self, movie_df, train=False):
        movie_cm = movie_df.groupby(['movie_id', 'gender_from']).apply(lambda x: " ".join(x['words'])).reset_index(name='raw_text')
        movie_cm = movie_cm.pivot(index='movie_id', columns='gender_from', values='raw_text').reset_index().fillna('Empty')

        movie_cm['fit'] = movie_cm[['f','m']].apply(lambda x: TfidfVectorizer().fit_transform([x[0], x[1]]), axis=1)
        movie_cm['gender_cosim'] = movie_cm['fit'].apply(lambda x: cosine_similarity(x[0], x[1])[0,0])

        movie_cm = pd.merge(movie_cm, movie_df[['movie_id', 'genre']], how='inner', on='movie_id')

        return_df = movie_cm[['movie_id', 'gender_cosim', 'genre']].drop_duplicates().reset_index(drop=True)
        
        if train:
            return return_df
        
        return float(return_df['gender_cosim'])
    
    def train_movies(self, train_df):
        train_proc = self.similarity(train_df, train=True)
        
        train_stat = train_proc.describe()
        self.train_mean = train_stat.loc['mean', 'gender_cosim']
        self.train_std = train_stat.loc['std', 'gender_cosim']
    
    def normalize_cosim(self, cosim_df):
        cosim_df['norm_cosim'] = (cosim_df['gender_cosim']-self.train_mean)/self_train_std

        return cosim_df
    
    def norm_similarity(self, movie_df):
        cosim_df = self.similarity(movie_df, train=True)
        cosim_df['norm_cosim'] = (cosim_df['gender_cosim']-self.train_mean)/self.train_std
        
        return float(cosim_df['norm_cosim'])

In [61]:
mvs = cosim()

In [62]:
mvs.train_movies(movies_train)

In [63]:
mvs.train_mean

0.6249326174795061

In [64]:
mvs.train_std

0.31936910205753566

In [65]:
mvs.norm_similarity(one_movie)

0.9933830047143571

In [67]:
mvs.similarity(one_movie)

0.9421884556943471