In [76]:
import pickle
import numpy as np
import pandas as pd
from sklearn.feature_extraction.text import CountVectorizer,TfidfTransformer
from sklearn.naive_bayes import MultinomialNB
from sklearn.model_selection import train_test_split
from IPython.core.interactiveshell import InteractiveShell

InteractiveShell.ast_node_interactivity = "all"

In [21]:
df = pickle.load(open("../data/movies_text.p", 'rb'))

In [22]:
df.head()
df.shape

,gender_to,movie_id,gender_from,char_id_from,char_id_to,line_id,text,movie_year,genre
0,0,m0,1,u0,u2,L194,Can we make this quick? Roxanne Korrine and A...,1999,comedy
1,0,m0,1,u0,u2,L195,"Well, I thought we'd start with pronunciation,...",1999,comedy
2,0,m0,1,u0,u2,L196,Not the hacking and gagging and spitting part....,1999,comedy
3,0,m0,1,u0,u2,L197,Okay... then how 'bout we try out some French ...,1999,comedy
4,0,m0,1,u0,u2,L198,You're asking me out. That's so cute. What's ...,1999,comedy

(304354, 9)

In [25]:
# remove unknown gender. 0 is male and 1 is female.
df = df[df.gender_from != '?']

In [44]:
X_train, X_test, y_train, y_test = train_test_split(df.text, df.gender_from.astype('int'), test_size=0.33, random_state=42)

In [52]:
y_train.value_counts()
y_test.value_counts()

0    114463
1     48842
Name: gender_from, dtype: int64

0    56246
1    24188
Name: gender_from, dtype: int64

In [45]:
X_train.shape
X_test.shape

(163305,)

(80434,)

In [36]:
# transform
count_vect = CountVectorizer(ngram_range=(1,2))
X_train_counts = count_vect.fit_transform(X_train)
tfidf_transformer = TfidfTransformer()
X_train_tfidf = tfidf_transformer.fit_transform(X_train_counts)

In [68]:
# look at sample of ngrams
count_vect.get_feature_names()[-50:]

['zundinger',
 'zundinger magicians',
 'zur',
 'zur gansalt',
 'zuria',
 'zurich',
 'zurich and',
 'zurich this',
 'zus',
 'zus what',
 'zuul',
 'zuul am',
 'zuul but',
 'zuul in',
 'zuul refers',
 'zuzu',
 'zuzu be',
 'zuzu in',
 'zuzu my',
 'zuzu petals',
 'zuzu what',
 'zuzu why',
 'zuzu zuzu',
 'zwoelf',
 'zwoelf uhr',
 'zyprexa',
 'zyprexa and',
 'zzzzzzzzzzzzzzzz',
 'zzzzzzzzzzzzzzzz thing',
 '³war',
 '³war hhh',
 'ßoor',
 'ßoor the',
 'àquelqu',
 'àquelqu un',
 'ça',
 'ça alors',
 'ça pourrait',
 'élysées',
 'élysées adam',
 'éysée',
 'éysée seven',
 'êtes',
 'êtes certain',
 'ïretirement',
 'ïretirement what',
 'ôcause',
 'ôcause ll',
 'ôer',
 'ôer go']

In [69]:
# train
clf = MultinomialNB().fit(X_train_tfidf, y_train)

In [82]:
# test
X_test_counts = count_vect.transform(X_test) # JW TO DO: how does this treat unseen ngrams?
X_test_tfidf = tfidf_transformer.transform(X_test_counts)

predicted = clf.predict(X_test_tfidf)
proba = clf.predict_proba(X_test_tfidf)

Classifier doesn't do well; predicting almost everything to be male :(

In [80]:
np.bincount(predicted)
predicted
proba

array([80140,   294], dtype=int64)

array([0, 0, 0, ..., 0, 0, 0])

array([[0.80528009, 0.19471991],
       [0.7119348 , 0.2880652 ],
       [0.79219357, 0.20780643],
       ...,
       [0.64766983, 0.35233017],
       [0.77934479, 0.22065521],
       [0.93742367, 0.06257633]])